@{
  Layout = "_Layout";
}

@using AnimalShelter.Models;
@model List<AnimalShelter.Models.Animal>;

<h1>Animals</h1>

<p>Sort by: @Html.ActionLink("Type", "Index", new {sort = "type"}) @Html.ActionLink("Date", "Index", new {sort = "date"})</p>

<ul>
    @foreach(Animal animal in Model)
    {
        <li>@Html.ActionLink($"{animal.Name}, {animal.Type}, {animal.Date}", "Details", new {id = animal.AnimalId})</li>
    }
</ul>

<p>@Html.ActionLink("Add new animal", "Create")</p>